doctype html
head
  meta(charset='utf-8')
  title Title for Vue App
body
  #main
    nav
      .nav-right
        router-link.nav-item.is-tab(to="/") About
        router-link.nav-item.is-tab(to="/portfolio") Portfolio

    p Hello app

    router-view
