.container.section
  nav
    .nav-left
      a.nav-item
        img(:src="logo")
    .nav-right
      router-link.nav-item.is-tab(to="/") About
      router-link.nav-item.is-tab(to="/portfolio") Portfolio

  router-view
