.container.has-text-centered
  .columns.is-vcentered
    .column.is-5
      figure.image.is-4by3
        img(:src="face_image")

    .column.is-6.is-offset-1
      p I am a 3D artist specializing in product modeling and visualization. I can create photo-realistic images of your product, with which we can clearly convey what it does and how it does it to your prospective customers and investors.
      p Please feel free to contact me. We can discuss how I can aid your business both in written and verbal form.

      p Email: eugene.chernov.3d@gmail.com
      p Behance: https://www.behance.net/eugenechernov3d
